<%- include('partials/header') %>

<section class="miniNav">
    <a href="#" class="miniLink">Social</a>
    <a href="#" class="miniLink">Events</a>
    <a href="#" class="miniLink">Stores</a>
</section>
<section class="stories">
    <section class="story">
        <img src="imgs/circle1.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle2.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle3.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle4.jpg" alt="">
    </section>
</section>

<div class="">
    <!-- <div class="mt-5 w-full"> -->
        <ul class="flex container justify-between feedUl">
            <% for(let i=0; i<posts.length; i++) {%>
                <div>
                    <li class="flex juistify-content-between mt-5 bg-rose-300 rounded feedLi flex-col text-center">
                        <p class="text-2xl bold uppercase"><%= posts[i].title %> </p>
                        <a href="/post/<%= posts[i]._id %> "></a>
                        <img class="feedImg rounded w-2/3" src="<%= posts[i].image %> " alt="">
                        <p><%= posts[i].caption %></p>
                        <p>Needlework: <%= posts[i].needlework %> </p>
                        <p>Likes: <%= posts[i].likes %> </p>
                    </li>
                </div>
            <% } %> 
        </ul>
    <!-- </div> -->
</div>




<%- include('partials/footer') %> 