<%- include('partials/header') %>


<ul class="flex flex-col items-center md:flex-row md:justify-around mb-40">
    <% for(let i = 0; i<posts.length; i++) {%>
        <div class="max-w-lg rounded overflow-hidden shadow-lg bg-rose-300 mb-5">
            <img class="w-full" src="<%= posts[i].image%>" alt="<% posts[i].caption%>">
            <div class="px-6 py-4">
                <div class="flex justify-between">
                    <div class="font-bold text-xl mb-2"><%= posts[i].title%></div>
                    <form
                        class="self-end"
                        action="/post/likePost/<%= posts.id %>?_method=PUT"
                        method="POST">
                        <button class="btn hover:text-rose-600 font-bold py-2 px-3 rounded fa fa-heart text-rose-300 bg-white" type="submit"></button>
                    </form>
                </div>
                <p class="text-gray-700 text-base"><%= posts[i].caption%></p>
                <p>Likes: <%= posts[i].likes %> </p>
            </div>
        </div>
        <% } %>
    </ul>

<%- include('partials/footer') %>