<%- include('partials/header') -%> 

<!-- component -->
<section class="bg-white mb-10">
    <div class="container px-6 py-10 mx-auto">
        
        <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
            <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-2/3" src="<%= post.image %> "alt="">
            
            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl mb-4 "><%= post.title %> </h1>
                <p class="text-xl text-blue-500 uppercase"><%= post.needlework %> </p>
                <p class="text-xl">
                    <%= post.caption %> 
                </p>

                <!-- <a href="#" class="inline-block mt-2 text-blue-500 underline hover:text-blue-400">Read more</a> -->

                <div class="flex items-start">
                    <!-- <img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt=""> -->

                <div class="text-xl">
                    <h1 class="text-black">Posted By: <%= post.user.userName %> </h1>
                    <div class="flex flex-row">
                        <form
                            class="mr-4"
                            action="/post/likePost/<%= post._id %>?_method=PUT"
                            method="POST">
                            <button class="text-white bg-rose-300 px-1 rounded" type="submit"><i class="fa-solid fa-heart cursor-pointer"></i></button>
                        </form>
                        <h2>Likes: <%= post.likes %> </h2>
                    </div>
                    <!-- <p class="text-sm text-gray-500 dark:text-gray-400">Lead Developer</p> -->
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%> 
